<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>home</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/styleCYK.css">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/stylesheets/home.css"/>
<script id="applicationScript" type="text/javascript" src="/javascripts/home.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/plot2.js" type="text/javascript"></script>
<meta http-equiv="refresh" content="10" />
</head>
<body>
<div id="home">
	<svg class="Rectangle_7_i">
		<linearGradient id="Rectangle_7_i" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#f0f0f6" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_7_i" rx="0" ry="0" x="0" y="0" width="1920" height="1080">
		</rect>
	</svg>
	<svg class="top_bgnd">
		<rect id="top_bgnd" rx="0" ry="0" x="0" y="0" width="1920" height="247">
		</rect>
	</svg>
	<div id="ID3AD_Dashboard">
		<span>3AD Dashboard</span>
	</div>
	<div id="admin_login">
		<svg class="Rectangle_8">
			<rect id="Rectangle_8" rx="23.5" ry="23.5" x="0" y="0" width="166" height="47">
			</rect>
		</svg>
		<div id="Admin_Login_n">
			<span>Admin Login</span>
		</div>
	</div>
	<div id="location_view">
		<div id="Location">
			<span>Location</span>
		</div>
		<div id="Cafeteria">
			<span><%= loc %></span>
		</div>
		<div id="April_4_2006">
			<span><%= dater %></span>
		</div>
		<div id="ID1737_PM">
			<span><%= timee %></span>
		</div>
	</div>
	<div id="right_view">
        
		<div class="right_border">
			<!-- <rect id="right_border" rx="0" ry="0" x="0" y="0" width="660" height="833">
            </rect> -->
            <canvas id="canvas2"></canvas>
            <script>refresh(<%= totalSeats%>,<%= seatsOccupied%>,<%= violators%>);</script>
		</div>
		<!-- <svg class="ref_view">
			<rect id="ref_view" rx="0" ry="0" x="0" y="0" width="567" height="448">
                
            </rect>
            
        </svg> -->
        
	</div>
	<div id="center">
		<svg class="controlcenter">
			<rect id="controlcenter" rx="59" ry="59" x="0" y="0" width="495" height="531">
			</rect>
		</svg>
		<div id="Status_Report">
			<span>Status Report</span>
		</div>
		<div id="taken_seats">
			<svg class="Rectangle_9_">
				<linearGradient id="Rectangle_9_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#0000af" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#ff8f6f" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectangle_9_" rx="19" ry="19" x="0" y="0" width="89" height="92">
				</rect>
			</svg>
			<svg class="Path_7" viewBox="0.062 128 41.521 66.486">
				<path id="Path_7" d="M 37.44384765625 161.5999908447266 L 37.44384765625 136.5703582763672 C 37.43841171264648 131.8393249511719 33.60451126098633 128.0054321289062 28.87347984313965 128 L 12.77158451080322 128 C 8.040555953979492 128.0054321289062 4.206656455993652 131.8393249511719 4.201218605041504 136.5703582763672 L 4.201218605041504 161.5999908447266 C -2.383938312530518 163.935546875 -0.6833702921867371 173.7086181640625 6.278882503509521 173.7086181640625 L 7.899980068206787 173.7086181640625 L 4.241473197937012 192.0001068115234 C 4.016426086425781 193.1253509521484 4.746170043945312 194.219970703125 5.871402263641357 194.4450073242188 C 6.99663257598877 194.6700592041016 8.091249465942383 193.9403228759766 8.316293716430664 192.8150787353516 L 12.137375831604 173.7086181640625 L 29.50768852233887 173.7086181640625 L 33.32877349853516 192.8150787353516 C 33.55382537841797 193.9403228759766 34.64844131469727 194.6700592041016 35.7736701965332 194.4450073242188 C 36.89889907836914 194.2199401855469 37.62864303588867 193.1253509521484 37.40359497070312 192.0001068115234 L 33.74508666992188 173.7086181640625 L 35.36618423461914 173.7086181640625 C 42.32480239868164 173.7086181640625 44.03211975097656 163.9365844726562 37.44384765625 161.5999908447266 Z M 35.36618423461914 169.5532836914062 C 34.55745315551758 169.5532836914062 7.166563987731934 169.5532836914062 6.278882503509521 169.5532836914062 C 5.131420135498047 169.5532836914062 4.201218605041504 168.6230926513672 4.201218605041504 167.4756317138672 C 4.201218605041504 166.3281707763672 5.131420135498047 165.3979644775391 6.278882503509521 165.3979644775391 L 12.51187515258789 165.3979644775391 C 13.65933895111084 165.3979644775391 14.58953952789307 164.4677581787109 14.58953952789307 163.3202972412109 C 14.58953952789307 162.1728363037109 13.65933895111084 161.2426300048828 12.51187515258789 161.2426300048828 L 8.356547355651855 161.2426300048828 L 8.356547355651855 136.5703582763672 C 8.35926628112793 134.1331329345703 10.33435344696045 132.1580505371094 12.77158451080322 132.1553344726562 L 28.87348175048828 132.1553344726562 C 31.31071281433105 132.1580505371094 33.28580093383789 134.1331329345703 33.28851699829102 136.5703582763672 L 33.28851699829102 161.2426300048828 L 29.1331901550293 161.2426300048828 C 27.9857292175293 161.2426300048828 27.0555248260498 162.1728363037109 27.0555248260498 163.3202972412109 C 27.0555248260498 164.4677581787109 27.9857292175293 165.3979644775391 29.1331901550293 165.3979644775391 L 35.36618423461914 165.3979644775391 C 36.51364898681641 165.3979644775391 37.44384765625 166.3281707763672 37.44384765625 167.4756317138672 C 37.44384765625 168.6230926513672 36.51364898681641 169.5532836914062 35.36618423461914 169.5532836914062 Z">
				</path>
			</svg>
			<svg class="Ellipse_16">
				<ellipse id="Ellipse_16" rx="2.0776641368865967" ry="2.077664613723755" cx="2.0776641368865967" cy="2.077664613723755">
				</ellipse>
			</svg>
			<svg class="Path_9" viewBox="224 176 16.399 16.328">
				<path id="Path_9" d="M 239.7987823486328 188.8435363769531 L 235.0985870361328 184.1638031005859 L 239.7987670898438 179.4840698242188 C 240.5993347167969 178.68701171875 240.5993347167969 177.3946990966797 239.7987823486328 176.5976257324219 C 238.9982147216797 175.800537109375 237.7002563476562 175.800537109375 236.8996887207031 176.5976257324219 L 232.1994934082031 181.27734375 L 227.4993133544922 176.5976104736328 C 226.6987457275391 175.800537109375 225.4007873535156 175.800537109375 224.6002197265625 176.5976257324219 C 223.7996673583984 177.3946838378906 223.7996673583984 178.68701171875 224.6002197265625 179.4840850830078 L 229.3004150390625 184.1638031005859 L 224.6002197265625 188.8435363769531 C 223.7996673583984 189.6406097412109 223.7996673583984 190.9329223632812 224.6002197265625 191.7299957275391 C 225.4007873535156 192.5270690917969 226.6987457275391 192.5270690917969 227.4993133544922 191.7299957275391 L 232.1994934082031 187.0502624511719 C 236.7446594238281 191.3146514892578 236.8914947509766 192.3277435302734 238.3492431640625 192.3277435302734 C 238.8740234375 192.3277435302734 241.0948333740234 190.1336822509766 239.7987823486328 188.8435363769531 Z">
				</path>
			</svg>
			<div id="Occupied">
				<span>Occupied</span>
			</div>
			<div id="ID40">
				<span><%= seatsOccupied %></span>
			</div>
		</div>
		<div id="reamining_seats">
			<svg class="Rectangle_9_bb">
				<linearGradient id="Rectangle_9_bb" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#0000af" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#21f3cb" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectangle_9_bb" rx="19" ry="19" x="0" y="0" width="89" height="92">
				</rect>
			</svg>
			<svg class="Path_7_ba" viewBox="0.062 128 41.521 66.486">
				<path id="Path_7_ba" d="M 37.44384765625 161.5999908447266 L 37.44384765625 136.5703582763672 C 37.43841171264648 131.8393249511719 33.60451126098633 128.0054321289062 28.87347984313965 128 L 12.77158451080322 128 C 8.040555953979492 128.0054321289062 4.206656455993652 131.8393249511719 4.201218605041504 136.5703582763672 L 4.201218605041504 161.5999908447266 C -2.383938312530518 163.935546875 -0.6833702921867371 173.7086181640625 6.278882503509521 173.7086181640625 L 7.899980068206787 173.7086181640625 L 4.241473197937012 192.0001068115234 C 4.016426086425781 193.1253509521484 4.746170043945312 194.219970703125 5.871402263641357 194.4450073242188 C 6.99663257598877 194.6700592041016 8.091249465942383 193.9403228759766 8.316293716430664 192.8150787353516 L 12.137375831604 173.7086181640625 L 29.50768852233887 173.7086181640625 L 33.32877349853516 192.8150787353516 C 33.55382537841797 193.9403228759766 34.64844131469727 194.6700592041016 35.7736701965332 194.4450073242188 C 36.89889907836914 194.2199401855469 37.62864303588867 193.1253509521484 37.40359497070312 192.0001068115234 L 33.74508666992188 173.7086181640625 L 35.36618423461914 173.7086181640625 C 42.32480239868164 173.7086181640625 44.03211975097656 163.9365844726562 37.44384765625 161.5999908447266 Z M 35.36618423461914 169.5532836914062 C 34.55745315551758 169.5532836914062 7.166563987731934 169.5532836914062 6.278882503509521 169.5532836914062 C 5.131420135498047 169.5532836914062 4.201218605041504 168.6230926513672 4.201218605041504 167.4756317138672 C 4.201218605041504 166.3281707763672 5.131420135498047 165.3979644775391 6.278882503509521 165.3979644775391 L 12.51187515258789 165.3979644775391 C 13.65933895111084 165.3979644775391 14.58953952789307 164.4677581787109 14.58953952789307 163.3202972412109 C 14.58953952789307 162.1728363037109 13.65933895111084 161.2426300048828 12.51187515258789 161.2426300048828 L 8.356547355651855 161.2426300048828 L 8.356547355651855 136.5703582763672 C 8.35926628112793 134.1331329345703 10.33435344696045 132.1580505371094 12.77158451080322 132.1553344726562 L 28.87348175048828 132.1553344726562 C 31.31071281433105 132.1580505371094 33.28580093383789 134.1331329345703 33.28851699829102 136.5703582763672 L 33.28851699829102 161.2426300048828 L 29.1331901550293 161.2426300048828 C 27.9857292175293 161.2426300048828 27.0555248260498 162.1728363037109 27.0555248260498 163.3202972412109 C 27.0555248260498 164.4677581787109 27.9857292175293 165.3979644775391 29.1331901550293 165.3979644775391 L 35.36618423461914 165.3979644775391 C 36.51364898681641 165.3979644775391 37.44384765625 166.3281707763672 37.44384765625 167.4756317138672 C 37.44384765625 168.6230926513672 36.51364898681641 169.5532836914062 35.36618423461914 169.5532836914062 Z">
				</path>
			</svg>
			<svg class="Path_8" viewBox="48 175.998 16.622 16.663">
				<path id="Path_8" d="M 64.40160369873047 179.0055847167969 C 64.91487121582031 177.9793243408203 64.49893951416016 176.7312927246094 63.47264862060547 176.2180786132812 C 62.44636535644531 175.7048645019531 61.19834136962891 176.1207885742188 60.68511962890625 177.1470794677734 L 55.50530242919922 187.5081481933594 L 51.22998809814453 184.6583862304688 C 50.27530670166016 184.0217895507812 48.98534393310547 184.2797546386719 48.34883117675781 185.2344970703125 C 47.71231842041016 186.1892242431641 47.97029113769531 187.4791870117188 48.92501831054688 188.1157073974609 C 59.35261535644531 194.6298828125 55.47621917724609 196.1260681152344 64.40160369873047 179.0055847167969 Z">
				</path>
			</svg>
			<svg class="Ellipse_16_bc">
				<ellipse id="Ellipse_16_bc" rx="2.0776641368865967" ry="2.077664613723755" cx="2.0776641368865967" cy="2.077664613723755">
				</ellipse>
			</svg>
			<div id="Remaining_">
				<span>Remaining </span>
			</div>
			<div id="ID40_be">
				<span><%= availableSeats %></span>
			</div>
		</div>
		<div id="total_seats">
			<svg class="Rectangle_9_bh">
				<linearGradient id="Rectangle_9_bh" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#0000af" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#2196f3" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectangle_9_bh" rx="19" ry="19" x="0" y="0" width="89" height="92">
				</rect>
			</svg>
			<svg class="Path_7_bi" viewBox="0.062 128 41.521 66.486">
				<path id="Path_7_bi" d="M 37.44384765625 161.5999908447266 L 37.44384765625 136.5703582763672 C 37.43841171264648 131.8393249511719 33.60451126098633 128.0054321289062 28.87347984313965 128 L 12.77158451080322 128 C 8.040555953979492 128.0054321289062 4.206656455993652 131.8393249511719 4.201218605041504 136.5703582763672 L 4.201218605041504 161.5999908447266 C -2.383938312530518 163.935546875 -0.6833702921867371 173.7086181640625 6.278882503509521 173.7086181640625 L 7.899980068206787 173.7086181640625 L 4.241473197937012 192.0001068115234 C 4.016426086425781 193.1253509521484 4.746170043945312 194.219970703125 5.871402263641357 194.4450073242188 C 6.99663257598877 194.6700592041016 8.091249465942383 193.9403228759766 8.316293716430664 192.8150787353516 L 12.137375831604 173.7086181640625 L 29.50768852233887 173.7086181640625 L 33.32877349853516 192.8150787353516 C 33.55382537841797 193.9403228759766 34.64844131469727 194.6700592041016 35.7736701965332 194.4450073242188 C 36.89889907836914 194.2199401855469 37.62864303588867 193.1253509521484 37.40359497070312 192.0001068115234 L 33.74508666992188 173.7086181640625 L 35.36618423461914 173.7086181640625 C 42.32480239868164 173.7086181640625 44.03211975097656 163.9365844726562 37.44384765625 161.5999908447266 Z M 35.36618423461914 169.5532836914062 C 34.55745315551758 169.5532836914062 7.166563987731934 169.5532836914062 6.278882503509521 169.5532836914062 C 5.131420135498047 169.5532836914062 4.201218605041504 168.6230926513672 4.201218605041504 167.4756317138672 C 4.201218605041504 166.3281707763672 5.131420135498047 165.3979644775391 6.278882503509521 165.3979644775391 L 12.51187515258789 165.3979644775391 C 13.65933895111084 165.3979644775391 14.58953952789307 164.4677581787109 14.58953952789307 163.3202972412109 C 14.58953952789307 162.1728363037109 13.65933895111084 161.2426300048828 12.51187515258789 161.2426300048828 L 8.356547355651855 161.2426300048828 L 8.356547355651855 136.5703582763672 C 8.35926628112793 134.1331329345703 10.33435344696045 132.1580505371094 12.77158451080322 132.1553344726562 L 28.87348175048828 132.1553344726562 C 31.31071281433105 132.1580505371094 33.28580093383789 134.1331329345703 33.28851699829102 136.5703582763672 L 33.28851699829102 161.2426300048828 L 29.1331901550293 161.2426300048828 C 27.9857292175293 161.2426300048828 27.0555248260498 162.1728363037109 27.0555248260498 163.3202972412109 C 27.0555248260498 164.4677581787109 27.9857292175293 165.3979644775391 29.1331901550293 165.3979644775391 L 35.36618423461914 165.3979644775391 C 36.51364898681641 165.3979644775391 37.44384765625 166.3281707763672 37.44384765625 167.4756317138672 C 37.44384765625 168.6230926513672 36.51364898681641 169.5532836914062 35.36618423461914 169.5532836914062 Z">
				</path>
			</svg>
			<svg class="Ellipse_16_bj">
				<ellipse id="Ellipse_16_bj" rx="2.0776641368865967" ry="2.077664613723755" cx="2.0776641368865967" cy="2.077664613723755">
				</ellipse>
			</svg>
			<div id="Total_Seats_bk">
				<span>Total Seats</span>
			</div>
			<div id="ID40_bl">
				<span><%= totalSeats %></span>
			</div>
		</div>
		<svg class="Line_1" viewBox="0 0 425 1">
			<path id="Line_1" d="M 0 0 L 425 0">
			</path>
		</svg>
		<svg class="Line_2" viewBox="0 0 425 1">
			<path id="Line_2" d="M 0 0 L 425 0">
			</path>
		</svg>
	</div>
</div>
</body>
</html>